
#container {
    display:flex;
    justify-content: space-around;
    

}
button {
    color: rgb(247, 243, 243);
    width: 100px;
    background-color: rgb(67, 69, 69);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#pics {
    display:flex;
    justify-content: space-around;
}

h1 
        {   
            color: rgb(67, 69, 69);
            margin: 20px, 100px, 200px, 100px;
            
            text-align: center;

        }
    #won {
        color: blue;
        font-size: 100px;
        font-weight: bold;
        text-align: center;
    }
    #lost {
        color: red;
        font-weight:bold;
        text-align: center;
        font-size: 100px;
        font-weight: bold;
        
    }

    h3 {
        text-align: center;
    }

    #displaycchoice {
        color: grey;
        font-size: 40px;
        font-weight: bold;
        text-align:center;
        //padding: 10px;
        


    }
    #draw {
        color: red;
        font-style: italic;
    }

    #gameinfo {
        margin-top: 50px
        display:flex;
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        padding: 30px
        }
    #display {
        text-align:center;
        font-size: 20px;
        margin: 0px;
        font-style: bold;
    }
    #scores {
        display:flex;
        margin-top: 30px;
        flex-direction: column;
        border:solid 5px black;
        margin: 10px 700px ;
        padding: 30px;
        
    }